.cards {
    position: relative;
    .group-card {
        display: flex;
        flex-wrap: wrap;
        .ant-card {
            position: relative;
            .custom-image img {
                display: block;
                height: 400px;
                object-fit: cover;
            }
            .custom-card {
                position: absolute;
                bottom: 0;
                width: 100%;
                height: 30%;
                background: rgba(0, 0, 0, 0.58);
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                transition: 0.5s;

                h3 {
                    color: #ffffff;
                    line-height: 25px;
                    font-size: 30px;
                    font-family: 'Raleway', sans-serif;
                    cursor: pointer;
                }
                .line-our-classes {
                    border-bottom: 2px solid #ff6c2c;
                    width: 100px;
                }
                p {
                    color: #ffffff;
                    display: none;
                    width: 80%;
                    margin: 40px auto;
                }
            }
            .custom-card:hover {
                height: 100%;
                background: rgba(255, 29, 106, 0.86);

                p {
                    display: block;
                }
                .btn-advanced {
                    display: block;
                }
                .line {
                    border-bottom: 3px solid #ffffff;
                }
            }
            .btn-advanced {
                width: 200px;
                height: 50px;
                border-radius: 25px;
                border: none;
                outline: none;
                transition: 0.5s;
                color: #ff6c2c;
                box-shadow: 3px 10px 8px rgba(0, 0, 0, 0.3);
                margin-top: 20px;
                display: none;
            }
            .btn-advanced:hover {
                font-weight: bold;
                color: #ffffff;
                background: #ff6c2c;
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .cards {
        .group-card {
            .ant-card {
                width: 100% !important;
            }
        }
    }
}
@media screen and (min-width: 576px) {
    .cards {
        .group-card {
            .ant-card {
                width: 100% !important;
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .cards {
        .group-card {
            .ant-card {
                width: 50% !important;
            }
        }
    }
}
@media screen and (min-width: 992px) {
    .cards {
        .group-card {
            .ant-card {
                width: 33% !important;
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    .cards {
        .group-card {
            .ant-card {
                width: 33% !important;
            }
        }
    }
}
