.welcome-carousel {
    width: 100%;
    .container-fluid {
        .welcome-youtube {
            img {
                width: 90%;
                height: 150px;
                transition: 0.1s;
                object-fit: cover;
            }
            img:active,
            img:hover {
                border: 3px solid #ff6c2c;
            }

            // button.slick-arrow.slick-prev,
            // button.slick-arrow.slick-next {
            //     display: none !important;
            // }
        }
    }
}
