.welcome-tous {
    background: #181a1f;
    font-family: 'Raleway', sans-serif;
    padding-bottom: 82px;
    .container {
        .ant-row {
            margin-top: 194px;
        }
    }
}
.video-react-controls-enabled.video-react-has-started.video-react-playing.video-react-fluid.video-react-user-inactive.video-react-workinghover.video-react {
    padding-top: 0 !important;
}
.video-react-controls-enabled.video-react-has-started.video-react-playing.video-react-fluid.video-react-user-inactive.video-react-workinghover.video-react:hover {
    padding-top: 0 !important;
}
