.cards {
    .container {
        .ant-card.wc-card {
            background: grey;
            font-family: 'Raleway', sans-serif;
            height: 200px;
            width: 340px;
            border: none;
            margin-top: -75%;
            .ant-card-body {
                padding: 40px;
                .ant-card-meta-title {
                    font-weight: bold;
                    font-size: 20px;
                    line-height: 25px;
                    width: 156px;
                    white-space: break-spaces;
                    color: #ffffff;
                }
                .ant-card-meta-description {
                    font-size: 15px;
                    line-height: 25px;
                    color: #ffffff;
                }
                button.ant-btn {
                    background: #ff1d6a;
                    border: none;
                    outline: none;
                    color: white;
                    font-weight: bold;
                    font-size: 15px;
                    width: 98px;
                    height: 28px;
                    font-family: 'Roboto', sans-serif;
                    margin-top: 20px;
                }
            }
        }
    }
}
@media screen and (max-width: 576px) {
    .cards {
        .container {
            padding: 0;
            .ant-card.wc-card {
                margin: 30px auto;
            }
        }
    }
}
@media screen and (min-width: 576px) {
    .cards {
        .container {
            padding: 0;
            .ant-card.wc-card {
                margin: 30px auto;
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .cards {
        .container {
            .ant-card.wc-card {
                margin-top: 30px;
            }
        }
    }
}
@media screen and (min-width: 992px) {
    .cards {
        .container {
            .ant-card.wc-card {
                margin-top: -120%;
            }
        }
    }
}
@media screen and (min-width: 1200px) {
    .cards {
        .container {
            .ant-card.wc-card {
                margin-top: -75%;
            }
        }
    }
}
