$raleway: 'Raleway', sans-serif;
.content.welcome-content {
    .txt-about {
        font-size: 15px;
        font-weight: bold;
        line-height: 25px;
        letter-spacing: 2px;
        color: #ff6c2c;
        margin-bottom: 10px;
        letter-spacing: 0.5rem;
    }

    p {
        font-size: 20px;
        line-height: 25px;
        color: #ffffff;
        width: 578px;
        font-weight: 500;
        font-family: $raleway;
        button.ant-btn {
            background: transparent;
            border: none;
            color: #ff1d6a;
            font-weight: 600;
            font-family: $raleway;
            transition: 0.5s;
        }
        button.ant-btn:active,
        button.ant-btn:hover {
            font-weight: bold;
            zoom: 1.01;
        }
    }
    p:first-child {
        color: #ff6c2c;
    }
}
.video-react-controls-enabled.video-react-paused.video-react-fluid.video-react-user-inactive.video-react {
    padding: 0 !important;
}
.video-react-controls-enabled.video-react-playing.video-react-fluid.video-react-user-inactive.video-react {
    padding: 0 !important;
}
.video-react-controls-enabled.video-react-paused.video-react-fluid.video-react-user-inactive.video-react {
    padding: 0 !important;
}
.video-react-controls-enabled.video-react-playing.video-react-fluid.video-react-user-inactive.video-react {
    padding: 0 !important;
}
@media screen and (max-width: 576px) {
    .content.welcome-content {
        h2 {
            font-size: 40px;
        }
        p {
            width: 100%;
            font-size: 18px;
        }
    }
}
@media screen and (min-width: 576px) {
    .content.welcome-content {
        text-align: center;
        margin-top: 50px;
        .line {
            margin: 40px auto;
        }
        h2 {
            font-size: 42px;
        }
        p {
            width: 100%;
            font-size: 18px;
        }
    }
}
@media screen and (min-width: 768px) {
    .content.welcome-content {
        text-align: center;
        margin-top: 50px;
        .line {
            margin: 40px auto;
        }
        h2 {
            font-size: 42px;
        }
        p {
            width: 80%;
            font-size: 18px;
            margin: 30px auto;
        }
    }
}
@media screen and (min-width: 992px) {
    .content.welcome-content {
        text-align: left;

        .line {
            margin: 40px 0;
        }
        h2 {
            font-size: 42px;
        }
        p {
            width: 80%;
            font-size: 18px;
            margin-left: 0;
        }
    }
}
@media screen and (min-width: 1200px) {
    .content.welcome-content {
        text-align: left;

        .line {
            margin: 40px 0;
        }
        h2 {
            font-size: 50px;
        }
        p {
            width: 578px;
            font-size: 20px;
        }
    }
}
