$raleway: 'Raleway', sans-serif;
.content.welcome-content {
    .txt-about {
        font-size: 15px;
        font-weight: bold;
        line-height: 25px;
        letter-spacing: 2px;
        color: #ff6c2c;
        margin-bottom: 10px;
        letter-spacing: 0.5rem;
    }

    p {
        font-size: 20px;
        line-height: 25px;
        color: #ffffff;
        width: 578px;
        font-weight: 500;
        font-family: $raleway;
        button.ant-btn {
            background: transparent;
            border: none;
            color: #ff1d6a;
            font-weight: 600;
            font-family: $raleway;
            transition: 0.5s;
        }
        button.ant-btn:active,
        button.ant-btn:hover {
            font-weight: bold;
            zoom: 1.01;
        }
    }
    p:first-child {
        color: #ff6c2c;
    }
}
