button.video-react-big-play-button.video-react-big-play-button-left {
    display: none;
}

.video-react-control-bar.video-react-control-bar-auto-hide {
    display: none;
}
.video-react-controls-enabled.video-react-paused.video-react-fluid.video-react-user-active.video-react-workinghover.video-react {
    padding-top: 0 !important;
}
.video-react-controls-enabled.video-react-playing.video-react-fluid.video-react-user-active.video-react-workinghover.video-react {
    padding-top: 0 !important;
}
video.video-react-video {
    width: 100%;
    height: 396px;
}
.video-react-controls-enabled.video-react-paused.video-react-fluid.video-react-user-inactive.video-react-workinghover.video-react {
    padding-top: 0 !important;
}
.video-react-controls-enabled.video-react-playing.video-react-fluid.video-react-user-inactive.video-react-workinghover.video-react {
    padding-top: 0 !important;
}
