.advanced {
    position: fixed;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .container {
        color: #ffffff;
        border: 1px solid #707070;
        background: #ff1d6a;
        opacity: 0.86;
        width: 555px;
        height: 378px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h3 {
            font-size: 50px;
            font-weight: 600;
            line-height: 25px;
            color: #ffffff;
        }
        .line {
            border-bottom: 2px solid #ffffff;
            width: 162px;
            margin: 26px auto;
        }
        p {
            font-size: 20px;
            line-height: 30px;
            font-weight: normal;
        }
        .btn-advanced {
            width: 200px;
            height: 50px;
            border-radius: 25px;
            border: none;
            outline: none;
            transition: 0.5s;
            color: #ff6c2c;
            box-shadow: 3px 10px 8px rgba(0, 0, 0, 0.3);
        }
        .btn-advanced:hover {
            font-weight: bold;
            color: #ffffff;
            background: #ff6c2c;
        }
    }
}

@media screen and (max-width: 576px) {
    .advanced {
        .container {
            width: 100%;
            height: auto;
            margin: 30px auto;
            padding: 30px;
            h3 {
                font-size: 32px;
            }
        }
    }
}
