$raleway: 'Raleway', sans-serif;
.header {
    background: rgba(36, 39, 46, 0.86);
    color: white;
    padding: 28px 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 100;
    .container {
        .menu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .menu-item {
                .ant-menu {
                    background: rgba(112, 112, 112, -0.86);
                    color: #ffffff;
                    font-family: $raleway;
                    li.ant-menu-item.ant-menu-item-only-child {
                        font-weight: bold;
                        line-height: 29px;
                        font-size: 15px;
                        font-family: $raleway;
                    }
                    li.ant-menu-item.ant-menu-item-only-child:first {
                        margin-left: 0;
                    }
                    li.ant-menu-item.ant-menu-item-only-child:hover,
                    li.ant-menu-item.ant-menu-item-only-child:hover {
                        color: #ff1d6a;
                    }

                    .ant-menu-item-active {
                        color: #ffffff !important;
                        border-bottom: 2px solid #ff1d6a;
                    }
                }
            }
            .menuMobile {
                display: none;
                background: grey;
                color: white;
                width: 30vh;
                height: 50vh;
                font-size: 20px;

                button.btnMenu {
                    width: 16px;
                    height: 16px;
                    transition: 0.3s ease-in;
                    background: none;
                    outline: none;
                    border: none;
                }
                ul {
                    background: grey;
                    border: none;
                }
            }
            .logo-header {
                text-align: center;
                img {
                    object-fit: cover;
                    width: 44px;
                    height: 20px;
                }
                .txt-logo {
                    font-size: 18px;
                    line-height: 21px;
                    font-weight: bold;
                    font-family: $raleway;
                }
            }
        }
    }
}
.ant-drawer-body {
    display: flex;
    flex-direction: column;
    a {
        margin-right: 37px;
        font-size: 15px;
        color: #3a364e;
        font-weight: bold;
        text-decoration: none;
        transition: 0.4s;
        margin: 10px 0;
        padding: 5px;
    }
}
.ant-drawer-header {
    display: flex;
    justify-content: center;
    font-size: 17px;
    font-weight: bold;
}

@media screen and (max-width: 767px) {
    .header {
        padding: 10px 0;
        // .menu {
        //     .menu-item {
        //         display: none;
        //     }
        //     .menuMobile {
        //         display: block;
        //         ul {
        //             background: #24272e;
        //             color: #ffffff;
        //             font-size: 18px;
        //             height: 50vh;
        //             width: 30vh;
        //         }
        //     }
        // }
        .wrapNav {
            .nav {
                display: none;
            }
            .buttonMenu {
                font-size: 18px;
            }
        }

        .showOnMobile {
            display: inline;
        }
    }
}
@media screen and (min-width: 992px) {
    .ant-drawer-content-wrapper {
        display: none;
    }
    .header {
        .wrapNav {
            .nav {
                display: flex;
            }
            .buttonMenu {
                font-size: 18px;
            }
        }

        .showOnMobile {
            display: none;
        }
    }
}
