#contact-us {
    background: url(./../../assets/images/bg-contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 150vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 2;
        h2 {
            font-size: 50px;
            font-weight: 500;
            line-height: 25px;
            color: #ffffff;
            margin-top: 4px;
        }
        .line {
            border-bottom: 2px solid #ff1d6a;
            width: 125px;
            margin-top: 24px;
            margin-bottom: 52px;
        }
    }

    .ant-form {
        width: 70%;
        margin: 30px auto;
        z-index: 2;
        .ant-row {
            .ant-col {
                .ant-input {
                    background: transparent;
                    border: 1px solid #ff6c2c;
                    height: 64px;
                    margin-bottom: 40px;
                    color: #ffffff;
                    ::placeholder {
                        color: #bbbbbb;
                        font-size: 18px;

                        line-height: 22px;
                    }
                }
                .ant-select-show-search.ant-select-single:not(.ant-select-customize-input)
                    .ant-select-selector {
                    border: 1px solid #ff6c2c;
                    background: transparent;
                    color: #ffffff;
                    height: 64px;
                    width: 100% !important;
                }
            }
            // .ant-form-item {
            //     border: 1px solid #ff6c2c;
            //     background: transparent;
            //     margin-right: 24px;
            //     line-height: 64px;
            //     input {
            //         color: #ffffff !important;
            //         width: 100%;
            //     }
            //     ::placeholder {
            //         color: #bbbbbb;
            //         font-size: 18px;
            //         line-height: 22px;
            //     }
            //     .ant-cascader-picker-label {
            //         color: #ffffff;
            //     }
            // }
            // .ant-col {
            //     width: 50%;
            //     // .ant-form-item-control-input {
            //     //     border: 1px solid #ff6c2c;
            //     //     width: 100%;
            //     //     background: transparent;
            //     // }
            //     input,
            //     textarea,
            //     span.ant-cascader-picker {
            //         background: transparent;
            //         border: none;
            //     }
            //     button.ant-btn.ant-btn-primary {
            //         background: #ff1d6a;
            //         width: 418px;
            //         height: 64px;
            //         font-size: 20px;
            //         font-weight: bold;
            //         border-radius: 2px;
            //         outline: none;
            //     }
            // }
        }
        .form-des {
            height: 400px;
        }
        // .ant-row.ant-form-item.form-des {
        //     border: 1px solid #ff6c2c;
        //     background: transparent;
        //     margin-right: 24px;
        //     height: 188px;
        //     ::placeholder {
        //         color: #bbbbbb;
        //         font-size: 18px;
        //         line-height: 22px;
        //     }
        //     textarea#nest-messages_user_introduction {
        //         color: #ffffff;
        //     }
        // }
    }
    .contact {
        color: #ffffff;
        z-index: 2;
        font-size: 20px;
        font-weight: bold;
        line-height: 36px;
        margin-top: 40px;
        .email {
            padding-right: 50px;
            border-right: 2px solid #ffffff;
        }
        .phone {
            margin-left: 50px;
        }
        .group-icon {
            margin-top: 40px;
            display: flex;
            justify-content: center;
            ul {
                list-style: none;
                display: flex;
                padding: 0;
                li {
                    margin-right: 24px;
                    width: 30px;
                    height: 30px;
                    border: none;
                    color: #ff1d6a;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.5s;
                    outline: none;

                    a {
                        color: #ff1d6a;
                        font-size: 16px;
                    }
                }
                li:hover {
                    box-shadow: 0 5px 10px #888888;
                }
            }
        }
    }
}
@media screen and (max-width: 576px) {
    #nest-messages {
        button.ant-btn.ant-btn-primary {
            width: 90%;
        }
    }
}
@media screen and (min-width: 576px) {
}
@media (min-width: 992px) {
}
