.recent-blog {
    background: #24272e;
    padding: 128px 0;
    font-family: 'Raleway', sans-serif;

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h2 {
            font-size: 50px;
            font-weight: 500;
            line-height: 25px;
            color: #ffffff;
            margin-top: 4px;
        }
        .line {
            border-bottom: 2px solid #ff1d6a;
            width: 125px;
            margin-top: 24px;
            margin-bottom: 52px;
        }
    }
    .card-left {
        .ant-card {
            background: #13191a;
            border: none;
            margin-bottom: 20px;
            margin-right: 12px;
            .ant-card-cover img {
                height: 218px;
                object-fit: cover;
            }
            .ant-card-body {
                padding: 30px 0;
            }
            .ant-card-bordered {
                border: none !important;
            }
            .ant-card-meta-title {
                font-size: 20px;
                line-height: 30px;
                color: #ff6c2c;
                font-family: 'Raleway', sans-serif;
                font-weight: bold;
                white-space: break-spaces;
                font-weight: bold;
            }
            .ant-card-meta-description {
                font-size: 14px;
                line-height: 24px;
                color: #bbbbbb;
            }
            .ant-card-actions {
                background: #13191a;
                border-top: none;
                color: #ffffff;
                .anticon svg {
                    color: #ff6c2c;
                }
            }
            .ant-card-actions > li:not(:last-child) {
                border-right: none;
            }
        }
    }
    .card-right {
        .ant-card {
            border: none;
            .ant-card-body {
                background: #13191a;

                .content-blog {
                    padding: 90px;
                    position: relative;
                    color: #ffffff;
                    .title-card {
                        font-size: 30px;
                        line-height: 42px;
                        color: #ff6c2c;
                        font-family: 'Raleway', sans-serif;
                        font-weight: bold;
                        white-space: break-spaces;
                        font-weight: bold;
                    }
                    .avt {
                        width: 40px;
                        height: 40px;
                        object-fit: cover;
                        border-radius: 50%;
                        border: 1px solid #ff6c2c;
                        position: absolute;
                        right: 0;
                    }
                    .txt-blog {
                        font-size: 14px;
                        font-weight: normal;
                        line-height: 24px;
                        margin-top: 50px;
                        .divide {
                            column-count: 2;
                            .line {
                                border-bottom: 2px solid #ff6c2c;
                                width: 100%;
                                margin: 40px 0;
                            }
                            .quote {
                                font-style: italic;
                                text-align-last: end;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .recent-blog {
        .card-right {
            .ant-card {
                .ant-card-body {
                    .content-blog {
                        padding: 0;
                        position: relative;
                        color: #ffffff;
                        .title-card {
                            font-size: 20px;
                        }
                        .txt-blog .divide {
                            column-count: 1;
                            overflow: auto;
                            height: 50vh;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 576px) {
    .recent-blog {
        .card-right {
            .ant-card {
                .ant-card-body {
                    .content-blog {
                        padding: 0;
                        position: relative;
                        color: #ffffff;
                        .title-card {
                            font-size: 20px;
                        }
                        .txt-blog .divide {
                            column-count: 1;
                            overflow: auto;
                            height: 50vh;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 768px) {
    .recent-blog {
        .card-right {
            .ant-card {
                .ant-card-body {
                    .content-blog {
                        padding: 0;
                        position: relative;
                        color: #ffffff;
                        .title-card {
                            font-size: 26px;
                        }
                        .txt-blog .divide {
                            column-count: 2;
                            overflow-x: hidden;
                            height: 50vh;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (min-width: 992px) {
    .recent-blog {
        .card-right {
            overflow-x: hidden;
            .ant-card {
                .ant-card-body {
                    .content-blog {
                        padding: 0;
                        position: relative;
                        color: #ffffff;
                        .title-card {
                            font-size: 30px;
                        }
                        .txt-blog .divide {
                            column-count: 2;
                            overflow: auto;
                            height: 60vh;
                        }
                    }
                }
            }
        }
    }
}
