.recent-blog {
    background: #24272e;
    padding: 128px 0;
    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h2 {
            font-size: 50px;
            font-weight: 500;
            line-height: 25px;
            color: #ffffff;
            margin-top: 4px;
        }
        .line {
            border-bottom: 2px solid #ff1d6a;
            width: 125px;
            margin-top: 24px;
            margin-bottom: 52px;
        }
    }
    .card-left {
        .ant-card {
            background: #13191a;
            border: none;
            margin-bottom: 20px;
            margin-right: 12px;
            .ant-card-cover img {
                height: 218px;
                object-fit: cover;
            }
            .ant-card-body {
                padding: 30px 0;
            }
            .ant-card-bordered {
                border: none !important;
            }
            .ant-card-meta-title {
                font-size: 20px;
                line-height: 30px;
                color: #ff6c2c;
                font-family: 'Raleway', sans-serif;
                font-weight: bold;
                white-space: break-spaces;
                font-weight: bold;
            }
            .ant-card-meta-description {
                font-size: 14px;
                line-height: 24px;
                color: #bbbbbb;
            }
            .ant-card-actions {
                background: #13191a;
                border-top: none;
                color: #ffffff;
                .anticon svg {
                    color: #ff6c2c;
                }
            }
            .ant-card-actions > li:not(:last-child) {
                border-right: none;
            }
        }
    }
    .card-right {
        .ant-card {
            .ant-card-body {
                padding: 90px;
            }
        }
    }
}
