.second-trainer {
    margin: 200px 0;
    img {
        width: 300px !important;
        height: 400px;
        opacity: 0.6;
        transition: transform 0.5s;
    }
    img:hover {
        opacity: 1;
        transform: scale(1.2);
    }
    button {
        background: #ff1d6a !important;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        span {
            background: #ff1d6a !important;
        }
    }
}
