.first-owl-carousel {
    .owl-carousel {
        .owl-stage-outer {
            .owl-stage {
                .owl-item {
                    object-fit: cover;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }
                //First
                .owl-item:not(.active) + .active {
                    width: 442px;
                    height: 564px;
                }
                //Second
                .owl-item.active + .active {
                    width: 342px;
                    height: 464px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                //All active (3rd)
                .owl-item.active {
                    width: 242px;
                    height: 364px;
                }
            }
        }
        .owl-nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            left: -15px;
            right: -15px;
            top: 35%;
            color: #ffffff;
            font-size: 60px;
        }
        .owl-theme .owl-dots .owl-dot {
            display: none;
        }
    }
    .owl-carousel .owl-nav button.owl-prev,
    .owl-carousel .owl-nav button.owl-next {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: #ff1d6a;
        outline: none;
    }
}
